h1 {text-align: center; font-size: 50px; font-family: "palatino"; margin-bottom: 10px}
h4 {margin-bottom: 6px}
ul {list-style-type: square; margin-top: 0; line-height: 170%}
a {text-decoration: none}
td {text-align:left}

#BasicInfo{
    text-align: center;
}

#Body {
    background-color: #E9FFFD;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
}

#Links {
    text-align: center;
    vertical-align: middle;
    text-decoration: none
}

table.center {
    margin-left: auto;
    margin-right: auto;
}

div.hobby-gallery {
    display: inline-block;
    border-color: #0000ffff;
}

div.hobby-gallery img {
    width: 15%;
    height: auto;
}

.responsive {
    padding: 0 10px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 10px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}